.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  width: 100%;
}

.flex-container > div {
  color: white;
  flex-grow: 1;
  margin: 5px;
  text-align: center;
}
